body {
    background: white !important;
    font: "Montserrat", Verdana, sans-serif !important;
    line-height: 1.3 !important;
}

h1, h2, h3, h4, h5, h6, p, span {
    font: "Montserrat", Verdana, sans-serif !important; 
    font-family: "Montserrat", Verdana, sans-serif !important; 
}

h3 {
    margin-bottom: 1pt;
    margin-top: 1pt;
}

hr {
    margin: 0 !important;
    padding: 0 !important;
}

.abstract-title-heading {
    background: #599eb3;
    padding: 2pt;
    text-align: center;
    width: 80pt;
}

.abstract-title-heading h3 {
    color: #fff;
    text-transform: uppercase;
}